<a href="https://colab.research.google.com/github/guimCC/Novartis_Datathon_2023/blob/main/datathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip -q install pandas pyarrow

   brand     phase  country  dayweek  month   wd_perc ther_area  \
0  AIMST  0.006284  Aldovia      2.0    1.0  0.045455       NaN
1  AIMST  0.123459  Aldovia      3.0    1.0  0.090909       NaN
2  AIMST  0.055607  Aldovia      4.0    1.0  0.136364       NaN
3  AIMST  0.032148  Aldovia      0.0    1.0  0.181818       NaN
4  AIMST  0.097054  Aldovia      1.0    1.0  0.227273       NaN

   hospital_rate  n_nwd_bef  n_nwd_aft  n_weekday_0  n_weekday_1  n_weekday_2  \
0            NaN        4.0        0.0            4            4            5
1            NaN        0.0        0.0            4            4            5
2            NaN        0.0        2.0            4            4            5
3            NaN        2.0        0.0            4            4            5
4            NaN        0.0        0.0            4            4            5

   n_weekday_3  n_weekday_4       date  wd  wd_left   monthly main_channel
0            5            4 2013-01-02   1       21  0.008092          NaN
1            5            4 2013-01-03   2       20  0.008092          NaN
2            5            4 2013-01-04   3       19  0.008092          NaN
3            5            4 2013-01-07   4       18  0.008092          NaN
4            5            4 2013-01-08   5       17  0.008092          NaN

In [5]:
import pandas as pd

df = pd.read_parquet('train_data.parquet')

df.head()

,brand,phase,country,dayweek,month,wd_perc,ther_area,hospital_rate,n_nwd_bef,n_nwd_aft,n_weekday_0,n_weekday_1,n_weekday_2,n_weekday_3,n_weekday_4,date,wd,wd_left,monthly,main_channel
0,AIMST,0.006284,Aldovia,2.0,1.0,0.045455,NaN,NaN,4.0,0.0,4,4,5,5,4,2013-01-02,1,21,0.008092,NaN
1,AIMST,0.123459,Aldovia,3.0,1.0,0.090909,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-03,2,20,0.008092,NaN
2,AIMST,0.055607,Aldovia,4.0,1.0,0.136364,NaN,NaN,0.0,2.0,4,4,5,5,4,2013-01-04,3,19,0.008092,NaN
3,AIMST,0.032148,Aldovia,0.0,1.0,0.181818,NaN,NaN,2.0,0.0,4,4,5,5,4,2013-01-07,4,18,0.008092,NaN
4,AIMST,0.097054,Aldovia,1.0,1.0,0.227273,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-08,5,17,0.008092,NaN

In [17]:
df.head(50)

,brand,phase,country,dayweek,month,wd_perc,ther_area,hospital_rate,n_nwd_bef,n_nwd_aft,n_weekday_0,n_weekday_1,n_weekday_2,n_weekday_3,n_weekday_4,date,wd,wd_left,monthly,main_channel
0,AIMST,0.006284,Aldovia,2.0,1.0,0.045455,NaN,NaN,4.0,0.0,4,4,5,5,4,2013-01-02,1,21,0.008092,NaN
1,AIMST,0.123459,Aldovia,3.0,1.0,0.090909,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-03,2,20,0.008092,NaN
2,AIMST,0.055607,Aldovia,4.0,1.0,0.136364,NaN,NaN,0.0,2.0,4,4,5,5,4,2013-01-04,3,19,0.008092,NaN
3,AIMST,0.032148,Aldovia,0.0,1.0,0.181818,NaN,NaN,2.0,0.0,4,4,5,5,4,2013-01-07,4,18,0.008092,NaN
4,AIMST,0.097054,Aldovia,1.0,1.0,0.227273,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-08,5,17,0.008092,NaN
5,AIMST,0.042682,Aldovia,2.0,1.0,0.272727,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-09,6,16,0.008092,NaN
6,AIMST,0.022866,Aldovia,3.0,1.0,0.318182,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-10,7,15,0.008092,NaN
7,AIMST,0.042612,Aldovia,4.0,1.0,0.363636,NaN,NaN,0.0,2.0,4,4,5,5,4,2013-01-11,8,14,0.008092,NaN
8,AIMST,0.050981,Aldovia,0.0,1.0,0.409091,NaN,NaN,2.0,0.0,4,4,5,5,4,2013-01-14,9,13,0.008092,NaN
9,AIMST,0.061581,Aldovia,1.0,1.0,0.454545,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-15,10,12,0.008092,NaN
10,AIMST,0.029903,Aldovia,2.0,1.0,0.500000,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-16,11,11,0.008092,NaN
11,AIMST,0.043864,Aldovia,3.0,1.0,0.545455,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-17,12,10,0.008092,NaN
12,AIMST,0.022069,Aldovia,4.0,1.0,0.590909,NaN,NaN,0.0,2.0,4,4,5,5,4,2013-01-18,13,9,0.008092,NaN
13,AIMST,0.100132,Aldovia,0.0,1.0,0.636364,NaN,NaN,2.0,0.0,4,4,5,5,4,2013-01-21,14,8,0.008092,NaN
14,AIMST,0.053045,Aldovia,1.0,1.0,0.681818,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-22,15,7,0.008092,NaN
15,AIMST,0.005205,Aldovia,2.0,1.0,0.727273,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-23,16,6,0.008092,NaN
16,AIMST,0.016019,Aldovia,3.0,1.0,0.772727,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-24,17,5,0.008092,NaN
17,AIMST,0.050173,Aldovia,4.0,1.0,0.818182,NaN,NaN,0.0,2.0,4,4,5,5,4,2013-01-25,18,4,0.008092,NaN
18,AIMST,0.023368,Aldovia,0.0,1.0,0.863636,NaN,NaN,2.0,0.0,4,4,5,5,4,2013-01-28,19,3,0.008092,NaN
19,AIMST,0.092051,Aldovia,1.0,1.0,0.909091,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-29,20,2,0.008092,NaN
20,AIMST,0.028342,Aldovia,2.0,1.0,0.954545,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-30,21,1,0.008092,NaN
21,AIMST,0.000554,Aldovia,3.0,1.0,1.000000,NaN,NaN,0.0,0.0,4,4,5,5,4,2013-01-31,22,0,0.008092,NaN
22,AIMST,0.024356,Aldovia,4.0,2.0,0.050000,NaN,NaN,0.0,2.0,4,4,4,4,4,2013-02-01,1,19,0.008008,NaN
23,AIMST,0.028914,Aldovia,0.0,2.0,0.100000,NaN,NaN,2.0,0.0,4,4,4,4,4,2013-02-04,2,18,0.008008,NaN
24,AIMST,0.112842,Aldovia,1.0,2.0,0.150000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-05,3,17,0.008008,NaN
25,AIMST,0.050613,Aldovia,2.0,2.0,0.200000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-06,4,16,0.008008,NaN
26,AIMST,0.053577,Aldovia,3.0,2.0,0.250000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-07,5,15,0.008008,NaN
27,AIMST,0.022705,Aldovia,4.0,2.0,0.300000,NaN,NaN,0.0,2.0,4,4,4,4,4,2013-02-08,6,14,0.008008,NaN
28,AIMST,0.024133,Aldovia,0.0,2.0,0.350000,NaN,NaN,2.0,0.0,4,4,4,4,4,2013-02-11,7,13,0.008008,NaN
29,AIMST,0.119140,Aldovia,1.0,2.0,0.400000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-12,8,12,0.008008,NaN
30,AIMST,0.055864,Aldovia,2.0,2.0,0.450000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-13,9,11,0.008008,NaN
31,AIMST,0.005582,Aldovia,3.0,2.0,0.500000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-14,10,10,0.008008,NaN
32,AIMST,0.051178,Aldovia,4.0,2.0,0.550000,NaN,NaN,0.0,2.0,4,4,4,4,4,2013-02-15,11,9,0.008008,NaN
33,AIMST,0.111456,Aldovia,0.0,2.0,0.600000,NaN,NaN,2.0,0.0,4,4,4,4,4,2013-02-18,12,8,0.008008,NaN
34,AIMST,0.110846,Aldovia,1.0,2.0,0.650000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-19,13,7,0.008008,NaN
35,AIMST,0.010196,Aldovia,2.0,2.0,0.700000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-20,14,6,0.008008,NaN
36,AIMST,0.011795,Aldovia,3.0,2.0,0.750000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-21,15,5,0.008008,NaN
37,AIMST,0.030941,Aldovia,4.0,2.0,0.800000,NaN,NaN,0.0,2.0,4,4,4,4,4,2013-02-22,16,4,0.008008,NaN
38,AIMST,0.061800,Aldovia,0.0,2.0,0.850000,NaN,NaN,2.0,0.0,4,4,4,4,4,2013-02-25,17,3,0.008008,NaN
39,AIMST,0.000000,Aldovia,1.0,2.0,0.900000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-26,18,2,0.008008,NaN
40,AIMST,0.113859,Aldovia,2.0,2.0,0.950000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-27,19,1,0.008008,NaN
41,AIMST,0.000201,Aldovia,3.0,2.0,1.000000,NaN,NaN,0.0,0.0,4,4,4,4,4,2013-02-28,20,0,0.008008,NaN
42,AIMST,0.052032,Aldovia,4.0,3.0,0.052632,NaN,NaN,0.0,2.0,4,4,4,3,4,2013-03-01,1,18,0.007211,NaN
43,AIMST,0.076054,Aldovia,0.0,3.0,0.105263,NaN,NaN,2.0,0.0,4,4,4,3,4,2013-03-04,2,17,0.007211,NaN
44,AIMST,0.146046,Aldovia,1.0,3.0,0.157895,NaN,NaN,0.0,0.0,4,4,4,3,4,2013-03-05,3,16,0.007211,NaN
45,AIMST,0.022992,Aldovia,2.0,3.0,0.210526,NaN,NaN,0.0,0.0,4,4,4,3,4,2013-03-06,4,15,0.007211,NaN
46,AIMST,0.006452,Aldovia,3.0,3.0,0.263158,NaN,NaN,0.0,0.0,4,4,4,3,4,2013-03-07,5,14,0.007211,NaN
47,AIMST,0.064297,Aldovia,4.0,3.0,0.315789,NaN,NaN,0.0,2.0,4,4,4,3,4,2013-03-08,6,13,0.007211,NaN
48,AIMST,0.098027,Aldovia,0.0,3.0,0.368421,NaN,NaN,2.0,0.0,4,4,4,3,4,2013-03-11,7,12,0.007211,NaN
49,AIMST,0.052719,Aldovia,1.0,3.0,0.421053,NaN,NaN,0.0,0.0,4,4,4,3,4,2013-03-12,8,11,0.007211,NaN

In [9]:
nan_percentage_per_column = df.isna().mean() * 100

print(nan_percentage_per_column)

brand             0.000000
phase             0.000000
country           0.000000
dayweek           0.000000
month             0.000000
wd_perc           0.000000
ther_area        12.673645
hospital_rate    17.955406
n_nwd_bef         0.000000
n_nwd_aft         0.000000
n_weekday_0       0.000000
n_weekday_1       0.000000
n_weekday_2       0.000000
n_weekday_3       0.000000
n_weekday_4       0.000000
date              0.000000
wd                0.000000
wd_left           0.000000
monthly           0.000000
main_channel     17.955406
dtype: float64

In [21]:
df['main_channel']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
3525877    NaN
3525878    NaN
3525879    NaN
3525880    NaN
3525881    NaN
Name: main_channel, Length: 2812490, dtype: category
Categories (4, object): ['COMBINED', 'HOSPITAL', 'OTHERS', 'RETAIL']